
/* Add format to navigation bar */
nav {
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-top:10px;
    padding-bottom: 50px;
}

/*Add format to descriptions*/
p{
    font-size: 18px;
}


/*Add format to links- Reference from W3School:https://www.w3schools.com/css/tryit.asp?filename=trycss_link_decoration*/
a {
    color: black;
    text-decoration: none;
  }

/*Add format to hover action on link*/
div.notecard:hover {
    background-color: yellow;
  }

.bold{
    font-size: 16px;
    margin: 0px;
}

  /*Add bold when hovering on product description*/
  p.bold:hover{
    font-weight: bold;
}

/* Add format to photo and product description*/
.notecard {
    margin:0px auto 0px auto;
    width: 230px;
    height: auto;
    padding:10px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between; 
}


/* Add border to pastry photos */
.border {
    border-style: solid;
    color: black;
  }


/* Add format to "Our hand-made cinnamon  rolls"*/
.handmade {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

/* Add format to bunbun logo */
#bunbun {

    padding-top:20px;
    padding-bottom:20px;
    
    }


/*Add format for Shopping Cart items */
.container {
    margin:0px auto 0px auto;
    width: 400px;
    height: auto;
    padding:20px;
    text-align: center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

/*Add format for button, reference from w3school */
.button {
    background-color: yellow;
    border: solid;
    color: black;
    font-size: 16px;
    padding: 10px 32px;
    display: inline-block;
    font-weight: bold;
  }



/*Add line before the total in Shopping Cart*/
.border-total {
    border-style:solid;
    margin: 0px auto 0px auto;
    width: 400px;
}



/*add format to dropdown menu*/
.dropdown{
    text-align:center;
    height: auto;
    font-family: Arial, Helvetica, sans-serif; 
    
}

/*add format to customize to liking in product detail*/
.customize{
    text-align: center;
    margin:0px;
}


.container-details {
    margin:0px auto 0px auto;
    padding:20px;
    text-align: center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

.container-caption {
    margin:0px auto 0px auto;
    width: 200px;
    height: auto;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

/*HW 02*/

/*Create parent flex container*/
.container-1{
    display:flex;
    
}


.container-1 div {
   justify-content: space-between;
}


.container-links {
    border-style: none none solid none;
}


.nav-content{
    width: 800px;
    display:flex;
}


