/* Add format to header */
h1 {
    text-align: center;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Add format to navigation bar */
nav {

    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding-top:10px;
    padding-bottom: 50px;
}

/*Add format to total dollar amounts*/
p{

    font-size: 18px;
}


/*Add format to links- Reference from W3School:https://www.w3schools.com/css/tryit.asp?filename=trycss_link_decoration*/
a {
    color: black;
    text-decoration: none;
  }

/*Add format to hover action on link*/

a:hover {
    background-color: yellow;
    font-weight: bold;
  }


/* Add format to photo and product description*/
.notecard {
    margin:0px auto 0px auto;
    width: 250px;
    height: auto;
    padding:20px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}


/* Add border to pastry photos */
.border {
    border-style: solid;
    color: black;
  }

  

/* Add format to "Our homemade cinnamon  rolls"*/
#handmade {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    

}

/* Add format to bunbun logo */
#bunbun {

    border-style: inset none solid none;
    padding-top:20px;
    padding-bottom:20px;
    
    }


/*Add format for Shopping Cart items */
.container {
    margin:0px auto 0px auto;
    width: 400px;
    height: auto;
    padding:20px;
    text-align: center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

/*Add format for button, reference from w3school */
.button {
    background-color: yellow;
    border: solid;
    color: black;
    font-size: 16px;
    padding: 10px 32px;
    display: inline-block;
    font-weight: bold;
  }



/*Add line before the total in Shopping Cart*/
.border-total {
    border-style:solid;
    margin: 0px auto 0px auto;
    width: 400px;
}



/*add format to dropdown menu*/
.dropdown{
    display: block;
    margin: 0px 470px 0px 470px;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px;
    text-align: left;
}


.container-details {
    margin:0px auto 0px auto;
    width: 500px;
    height: auto;
    padding:20px;
    text-align: center;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

.container-caption {
    margin:0px auto 0px auto;
    width: 225px;
    height: auto;
    text-align: left;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif; 
}

